<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
    <mapper namespace="com.yz.mapper.HeroMapper">
        <insert id="add" parameterType="com.yz.pojo.Hero"
        useGeneratedKeys="true" keyProperty="id" >
            insert into hero ( hname, hp,damage ) values (#{hname},#{hp},#{damage})   
        </insert>
         
        <delete id="delete" parameterType="com.yz.pojo.Hero" >
            delete from hero where id= #{id}  
        </delete>
         
        <select id="get" parameterType="_int" resultType="com.yz.pojo.Hero">
            select * from   hero  where id= #{id}   
        </select>
 
        <update id="update" parameterType="com.yz.pojo.Hero" >
            update hero set hname=#{hname} where id=#{id}   
        </update>
        <select id="list" resultType="com.yz.pojo.Hero">
            select * from   hero     
        </select>  
        
        <select id="count" resultType="int">
        	select count(*) from hero
        </select>
        
          
    </mapper>